/* fuente texto con serifa */
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
/* fuente texto sin serifa */
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Marko+One&display=swap');



/* Maquetación */
body main section {
    padding: 5vw;
}

/* Tamaño de los textos */
html,
body {
    font-size: 17px;
}


h1 {
    font-size: 0.8em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.1em;
}

/* Familia y colores de los textos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Marko One', Arial, serif;
    text-transform: capitalize;
    /* Color genérico */
    color: orange;
}

p,
li,
a,
strong,
em,
span,
figcaption,
q,
blockquote {
    font-family: 'Krub', Verdana, sans-serif;
    font-size: 1em;
    /* Color genérico */
    color: dimgrey;
}

/* Interlineado de textos */
p {
    line-height: 1.2;
}


/* Colores específico */
h2,
strong {
    color: darkviolet;
}


a {
    font-weight: bold;
    color: orange;
}


figcaption {
    font-size: small;
    font-style: italic;
}

p.nota {
    padding: 0.8em;
    background-color: aliceblue;
    border-left-color: dodgerblue;
    border-left-style: solid;
    border-radius: 5px;
}

footer {
    background-color: pink;
}

.pechado {
   color:white;
}
